<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>projekt_unbarmherzigkeit</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>projekt_unbarmherzigkeit</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string>REVERSED_CLIENT_ID</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.330428788627-4s3dfbnvkprq2kmcib4utii4lmiegv4g</string>
				</array>
			</dict>
		</array>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Diese App benötigt Zugriff auf die Fotobibliothek, um Bilder zu teilen.</string>
		<key>NSCameraUsageDescription</key>
		<string>Diese App benötigt Zugriff auf die Kamera, um Fotos für das Teilen aufzunehmen.</string>
		<!-- NEU HINZUFÜGEN: URL Schemes für externe Apps -->
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<!-- WhatsApp -->
			<string>whatsapp</string>
			<!-- Telegram -->
			<string>telegram</string>
			<string>tg</string>
			<!-- Twitter -->
			<string>twitter</string>
			<string>twitterrific</string>
			<!-- Facebook -->
			<string>fb</string>
			<string>facebook</string>
			<!-- E-Mail -->
			<string>mailto</string>
			<!-- Safari/Browser -->
			<string>http</string>
			<string>https</string>
			<!-- SMS -->
			<string>sms</string>
			<!-- Instagram -->
			<string>instagram</string>
			<!-- LinkedIn -->
			<string>linkedin</string>
		</array>
		<!-- NEU HINZUFÜGEN: Share Extension Support -->
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeIconFiles</key>
				<array/>
				<key>CFBundleTypeName</key>
				<string>Text Files</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>public.plain-text</string>
				</array>
			</dict>
		</array>
		<!-- NEU HINZUFÜGEN: Exported Type Identifiers -->
		<key>UTExportedTypeDeclarations</key>
		<array>
			<dict>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.data</string>
				</array>
				<key>UTTypeDescription</key>
				<string>Historical Data</string>
				<key>UTTypeIdentifier</key>
				<string>com.example.projekt-unbarmherzigkeit.historical-data</string>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>public.filename-extension</key>
					<array>
						<string>json</string>
						<string>txt</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
</plist>